body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  background-color: #FFF;
  color: #434455;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.wrapper {
    border: 1px dotted blue;
    background: #FFF;
    margin: 0 auto;
    width: 1440px;
    /* display: flex; */
}

.logo {
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

/* Header container */

.header-container {
    display: flex;
    padding: 0;
}

.header-navbar {
    margin-left: 156px;
    margin-right: auto;
    margin-top: 25.5px;
    margin-bottom: 25.5px;
    padding: 0;
    /* width: auto; */
}

/* Logo colors */
.header-navbar-logo-left {
    color: #4D5AE5;
}
.header-navbar-logo-right {
    color: #2E2F42;
}

/*  Navbar menu */
.header-navbar-menu-list {
    display: inline;
    margin-left: 76px;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0;
}

.header-navbar-menu-list-item {
    display: inline;
    margin-right: 40px;
}

.header-navbar-menu-list-item:hover {
    color: #404BBF;
    /* text-decoration: underline; */
    border-radius: 2px;
    background: #404BBF;
    width: 48px;
    height: 4px;
    flex-shrink: 0;
    display: flex;
    /* width: 48px; */
    /* height: 52px; */
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;

}

.header-navbar-menu-list-item-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.header-navbar-menu-list-item-link:hover,
.header-navbar-menu-list-item-link:active {
    color: #404BBF;
}

/*  Address container */
.header-address {
    display: flex;
    padding: 0;
}

.header-address-list {
    display: inline;
    margin-left: auto;
    margin-right: 156px;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 0;
}

.header-address-list-item {
    display: inline;
    margin-left: 40px;
}

.header-address-list-item-link {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.32px;
}